name: CI
on:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: windows-2022
    permissions:
      contents: write

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: setup-msbuild
      uses: microsoft/setup-msbuild@v2
      with:
        vs-version: '[17.0,18.0)'

    - name: Build solution
      run: msbuild RT-4D-Flasher-CLI.sln -t:rebuild -property:Configuration=Release

    - name: 'Upload Artifact'
      uses: actions/upload-artifact@v4
      with:
        name: RT-4D-Flasher-CLI
        path: bin/Release/RT-4D-Flasher-CLI.exe

    - name: 'Create Release'
      uses: ncipollo/release-action@v1
      with:
        artifacts: "**/*.exe"
